.card {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  gap: 20px;
  justify-content: center
}

.card img{
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.card-ysl{
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--shadow);
  height: auto;
  transition: all 0.3s ease;
  list-style: none;
  background-color: var(--card-bg);
  color: var(--text-primary);
}

.card a{
  padding: 10px 8px;
  margin: 5px;
  margin-top: auto;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 150px;
  height: auto;
  color: var(--text-primary);
}

.card-ysl:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card a:hover{
  background-color: #7c7c7c;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 50px;
}

.card-tov{
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgba(71, 71, 71, 0.596);
  height: auto;
  transition: all 0.3s ease;
  list-style: none;
  background-color: var(--card-bg);
  color: var(--text-primary);
}

.card-tov:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-ysl,
.card-tov {
    width: 250px;
    text-align: center;
}